<ion-content class="content" [fullscreen]="true">
  <ion-label>{{ fechaHora | date:'dd/MM/yyyy HH:mm:ss' }}</ion-label>
  <div class="title">
    <h1 class="TitleDrive">Drive</h1>
    <h1 class="TitleLink">Link</h1>
  </div>
  <ion-header collapse="condense">
    <ion-title class="PageTitle" size="large">Bienvenido/a <br> {{ primerNombre }}</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ primerNombre }} {{ primerApellido }}</ion-card-title>
        <ion-card-subtitle>[tipo de usuario]</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <br>
  </ion-header>

  <div class="input-container">
    <ion-button class="buscar-chofer" expand="block" (click)="setOpenModalConductor(true)">
      Mostrar conductores disponibles
    </ion-button>

    <ion-modal [isOpen]="modalConductor">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Conductores</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenModalConductor(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list *ngIf="conductores.length > 0">
            <ion-item *ngFor="let conductor of conductores">
              <ion-label>
                Nombre: {{conductor.usuario.primer_nombre}} {{conductor.usuario.segundo_nombre}}<br>
                Teléfono: {{conductor.usuario.telefono}}
              </ion-label>
              <ion-button (click)="solicitarConductor(conductor.id)">Solicitar</ion-button>
            </ion-item>
          </ion-list>
          <ion-item *ngIf="conductores.length === 0">
            <ion-label>No hay conductores disponibles.</ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <br><br><br>
  <ion-item>
    <ion-input [(ngModel)]="busquedaConductor" placeholder="Ingrese nombre del conductor"></ion-input>
    <ion-button expand="block" (click)="buscarConductor()">Buscar Conductor</ion-button>
  </ion-item>
  <br><br>

  <ion-list *ngIf="resultadoBusqueda.length > 0">
    <ion-item *ngFor="let conductor of resultadoBusqueda">
      <ion-label>
        Nombre: {{conductor.usuario.primer_nombre}} {{conductor.usuario.segundo_nombre}}<br>
        Teléfono: {{conductor.usuario.telefono}}
      </ion-label>
      <ion-button (click)="solicitarConductor(conductor.id)">Solicitar</ion-button>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="resultadoBusqueda.length === 0 && busquedaRealizada">
    <ion-label>No se encontró el conductor.</ion-label>
  </ion-item>
  
  <br><br><br>
  <ion-button class="editar-perfil" expand="block">Editar perfil</ion-button>
  <br><br>
  <ion-button class="cerrar-sesion" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  <br><br>
</ion-content>