<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Usuario/a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="title">
    <h1 class="TitleDrive">Drive</h1>
    <h1 class="TitleLink">Link</h1>
  </div>
  <ion-header collapse="condense">
    <ion-title class="PageTitle" size="large">Bienvenido/a <br> {{ primerNombre }}</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ primerNombre }} {{ primerApellido }}</ion-card-title>
        <ion-card-subtitle>[tipo de usuario]</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <br>
  </ion-header>
  
  <br><br><br>
  
  <ion-item>
    <ion-input [(ngModel)]="busquedaConductor" placeholder="Ingrese nombre del conductor"></ion-input>
    <ion-button expand="block" (click)="buscarConductor()">Buscar Conductor</ion-button>
  </ion-item>
  <br><br>
  
  <ion-list *ngIf="resultadoBusqueda.length > 0">
    <ion-item *ngFor="let conductor of resultadoBusqueda">
      <ion-label>
        Nombre: {{conductor.usuario.primer_nombre}} {{conductor.usuario.segundo_nombre}}<br>
        Teléfono: {{conductor.usuario.telefono}}
      </ion-label>

    </ion-item>
  </ion-list>
  <ion-item *ngIf="resultadoBusqueda.length === 0 && busquedaRealizada">
    <ion-label>No se encontró el conductor.</ion-label>
  </ion-item>
  
  <ion-item *ngIf="conductorInactivo">
    <ion-label>Nombre: {{conductorInactivoDetalles.primer_nombre}} {{conductorInactivoDetalles.primer_apellido}}<br> El Conductor no está disponible en estos momentos</ion-label>
  </ion-item>
  <ion-item *ngIf="conductorNoEncontrado">
    <ion-label>Conductor no encontrado.</ion-label>
  </ion-item>
  
  <ion-button expand="block" (click)="setModalSolicitudViaje(true)">Solicitar Viaje</ion-button>
  
  <br><br><br>
  <ion-button class="editar-perfil" expand="block" (click)="setModalModificarDatosOpen(true)">Editar perfil</ion-button>
  <br><br>
  <ion-button class="cerrar-sesion" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  <br><br>
  
  <!-- modal con formulario para modificar datos de conductor -->
  <ion-modal [isOpen]="isModalModificarDatosOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modifica Datos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setModalModificarDatosOpen(false)">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-label>Primer Nombre</ion-label>
            <ion-input placeholder="{{primerNombre}}" [(ngModel)]="new_primerNombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Segundo Nombre</ion-label>
            <ion-input placeholder="{{segundoNombre}}" [(ngModel)]="new_segundoNombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Primer Apellido</ion-label>
            <ion-input placeholder="{{primerApellido}}" [(ngModel)]="new_primerApellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Segundo Apellido</ion-label>
            <ion-input placeholder="{{segundoApellido}}" [(ngModel)]="new_segundoApellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Telefono</ion-label>
            <ion-input placeholder="{{telefono}}" [(ngModel)]="new_telefono"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button class="editar-perfil" expand="block" (click)="modificarDatos()">Guardar cambios</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


  <!-- modal con formulario para solicitar viaje -->
  <ion-modal [isOpen]="isModalSolicitudViajeOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>SOLICITA VIAJES</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setModalSolicitudViaje(false)">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-toggle (ionChange)="toggleConductor($event)">Desea un conductor específico?</ion-toggle>
          </ion-item>
          <ion-item *ngIf="showInputConductor">
            <ion-select [(ngModel)]="conductorSeleccionado" interface="popover" placeholder="Seleccione un conductor">
              <ion-select-option *ngFor="let conductor of conductores" [value]="conductor">
                {{conductor.usuario.primer_nombre}} {{conductor.usuario.segundo_nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="tarifa" type="number" placeholder="Ingrese la tarifa"> Ingrese la tarifa del viaje </ion-input>
          </ion-item>
          
          <ion-item class="modal-input">
            <ion-label>Ingrese el punto de partida</ion-label>
            <ion-input [(ngModel)]="origen"></ion-input>
        </ion-item>
        <ion-item class="modal-input">
            <ion-label>Ingrese su destino</ion-label>
            <ion-input [(ngModel)]="destino"></ion-input>
        </ion-item>

          <ion-item>
            <ion-toggle (ionChange)="toggleAgendamiento($event)">¿Viaje inmediato o agendado?</ion-toggle>
          </ion-item>
          <ion-item *ngIf="showInputAgendamiento">
            <ion-datetime-button datetime="datetime" presentation="date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date" [showDefaultButtons]="true" (ionChange)="manejarCambioFecha($event)" ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-list>
        <ion-button expand="block" (click)="solicitarViaje()">Solicitar Viaje</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-content>
