<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido administrador/a</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons> -->
  <!-- </ion-toolbar>
</ion-header>  -->

<ion-content [fullscreen]="true">
  <ion-header cl="Header" collapse="condense">

    <ion-toolbar>
      <ion-title class="PageTitle" size="large">
        <p class="TitleDrive">Drive</p>
        <p class="TitleLink">Link</p>
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <div class="Welcome">
    <p>

      <ion-title class="PageTitle" size="large">Bienvenido/a <br> {{ primerNombre }}</ion-title>
      ¡Bienvenido al equipo administrativo de nuestra aplicación! Tu papel es fundamental para garantizar que nuestra plataforma

      funcione sin problemas y brinde la mejor experiencia a nuestros usuarios. Tu contribución es invaluable para el éxito 
      continuo de nuestra aplicación.
    </p>
    <br>
    <p>¡Gracias por ser parte de nuestro equipo!</p>
  </div> 
  <br><br>
  <ion-button class="usuarios" shape="round" (click)="toggleShowUsers()">Usuarios</ion-button>
  <ion-list *ngIf="showUsers">
    <ion-item *ngFor="let user of solicitantes">
      {{ user.primer_nombre }} - {{ user.primer_apellido }}
      <ion-button [disabled]="!user.verificado" (click)="blockUser(user)">Bloquear</ion-button>
      <ion-button [disabled]="user.verificado" (click)="unblockUser(user)">Desbloquear</ion-button>
    </ion-item> 
  </ion-list>
  <ion-button class="conductores" shape="round" (click)="toggleShowDrivers()">Conductores</ion-button>
  <ion-list *ngIf="showDrivers">
    <ion-item *ngFor="let driver of conductores">
      {{ driver.primer_nombre }} - {{ driver.primer_apellido }}
      <ion-button [disabled]="!driver.verificado" (click)="blockDriver(driver)">Bloquear</ion-button>
      <ion-button [disabled]="driver.verificado" (click)="unblockDriver(driver)">Desbloquear</ion-button>
    </ion-item> 
  </ion-list>
  <br><br><br>
  <ion-button class="cerrar-sesion" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  <br>
</ion-content>