<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido administrador/a</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons> -->
  <!-- </ion-toolbar>
</ion-header>  -->

<ion-content [fullscreen]="true">
  <ion-header cl="Header" collapse="condense">
    <ion-toolbar>
      <ion-title class="PageTitle" size="large"><p class="TitleDrive">Drive</p><p class="TitleLink">Link</p></ion-title>
    </ion-toolbar>
  </ion-header>
  <div  class="Welcome">
    <p>
      ¡Bienvenido al equipo administrativo de nuestra aplicación! Tu papel es fundamental para garantizar que nuestra plataforma 
      funcione sin problemas y brinde la mejor experiencia a nuestros usuarios. Tu contribución es invaluable para el éxito 
      continuo de nuestra aplicación. </p>
      <br>
      <p>¡Gracias por ser parte de nuestro equipo!</p>
  </div> 
  <br><br>
  <ion-button class="cerrar-sesion" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  <!-- <ion-list>
   <ion-item *ngFor="let driver of drivers">
      {{ driver.nombre }} - {{ driver.apellido }}
    </ion-item> 
  </ion-list> -->
</ion-content>