<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="driver-register" size="large">Registro de chofer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="labels">
    <ion-item>
      <ion-label position="floating">Primer Nombre:</ion-label>
      <ion-input type="text" [(ngModel)]="NameDriver" aria-label="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo Nombre:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Primer Apellido:</ion-label>
      <ion-input type="text" [(ngModel)]="AppDriver" aria-label="Apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo Apellido:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut:</ion-label>
      <ion-input type="text" [(ngModel)]="RunDriver" aria-label="Rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" [(ngModel)]="EmailDriver" aria-label="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="PassDriver" aria-label="Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirma Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="ConfirmDriver" aria-label="Confirma Contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular:</ion-label>
      <ion-input type="text" [(ngModel)]="CelDriver" aria-label="Celular"></ion-input>
    </ion-item>
  </div>
  <br><br>

  <div class="vehicle-driver">
    <ion-radio-group value="strawberries">
      <p>¿Posees un vehículo?</p>
      <ion-radio value="vehicle-yes">SI</ion-radio><br />
      <ion-radio value="vehicle-no">NO</ion-radio><br />
    </ion-radio-group>
  </div>
  <br>

  <div class="licenses">
    <p>Licencia(s) de conducir:</p> 
    <input type="file" aria-label="Licencia de Conducir 1">
    <br><br>
    <input type="file" aria-label="Licencia de Conducir 2">
  </div> 
  
  <br><br>

  <ion-button class="FormDriver-button" expand="block">Registrarme</ion-button>
  <br>
  <ion-button class="back-button" (click)="GetBack()" expand="block">Volver</ion-button>
  <br><br>

  <div class="documents-link">
    <p>Obtén todos tus documentos <a href="https://www.registrocivil.cl/principal/servicios-en-linea/" target="_blank">aquí</a>.</p>
  </div>
</ion-content>