<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a DriverLink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Ingresa tu usuario (Nombre de usuario) </ion-label>
    <ion-input type="text" [(ngModel)]="UserName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ingresa tu contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="UserPassword"></ion-input>
  </ion-item>

  <ion-button class="login-button" (click)="login()" expand="block">Ingresar</ion-button>

  <ion-button class="back-button" (click)="GetBack()" expand="block">Volver</ion-button>

</ion-content>