<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido Usuario/a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-label>{{ fechaHora | date:'dd/MM/yyyy HH:mm:ss' }}</ion-label>
  <div class="title">
    <h1 class="TitleDrive">Drive</h1>
    <h1 class="TitleLink">Link</h1>
  </div>
  <ion-header collapse="condense">
    <ion-title class="PageTitle" size="large">Bienvenido/a <br> {{ primerNombre }}</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ primerNombre }} {{ primerApellido }}</ion-card-title>
        <ion-card-subtitle>[tipo de usuario]</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-textarea [(ngModel)]="cardContent"></ion-textarea>
      </ion-card-content>
    </ion-card>
    <br>

    <div class="toggle-container">
      <ion-toggle class="disponibilidad" [(ngModel)]="isAvailable" labelPlacement="stacked" alignment="start" (ionChange)="toggleAvailability($event)">Disponibilidad</ion-toggle>
    </div>
  </ion-header>
  <br><br>
  <ion-button class="editar-perfil" expand="block" (click)="setModalModificarDatosOpen(true)">Editar perfil</ion-button>
  <br><br>
  <ion-button class="cerrar-sesion" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  <br><br>


  <!-- modal con formulario para modificar datos de conductor -->
  <ion-modal [isOpen]="isModalModificarDatosOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modifica Datos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setModalModificarDatosOpen(false)">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
        <ion-list>
          <ion-item>
            <ion-label>Primer Nombre</ion-label>
            <ion-input placeholder="{{ primerNombre }}" [(ngModel)]="new_primerNombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Segundo Nombre</ion-label>
            <ion-input placeholder="{{ segundoNombre }}" [(ngModel)]="new_segundoNombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Primer Apellido</ion-label>
            <ion-input placeholder="{{ primerApellido }}" [(ngModel)]="new_primerApellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Segundo Apellido</ion-label>
            <ion-input placeholder="{{ segundoApellido }}" [(ngModel)]="new_segundoApellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Telefono</ion-label>
            <ion-input placeholder="{{ telefono }}" [(ngModel)]="new_telefono"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button class="editar-perfil" expand="block" (click)="modificarDatos()">Guardar cambios</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>