<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido Usuario/a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="title">
    <h1 class="TitleDrive">Drive</h1>
    <h1 class="TitleLink">Link</h1>
  </div>
  <ion-header collapse="condense">
      <ion-title class="PageTitle" size="large">Bienvenido/a <br> [First Name driver]</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>[ Primer nombre y Primer apellido driver ]</ion-card-title>
        <ion-card-subtitle>[tipo de usuario]</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-textarea [(ngModel)]="cardContent"></ion-textarea>
      </ion-card-content>
    </ion-card>
    <br>

    <div class="toggle-container">
      <ion-toggle class="disponibilidad" [(ngModel)]="isAvailable" labelPlacement="stacked" alignment="start" (ionChange)="toggleAvailability($event)">Disponibilidad</ion-toggle>
    </div>
  </ion-header>
  <br><br>
  <ion-button class="editar-perfil" expand="block">Editar perfil</ion-button>
  <br><br>
    <ion-button class="cerrar-sesion" expand="block" (click)="logout()">Cerrar sesión</ion-button>
  <br><br>


</ion-content>
