<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register User</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="NameUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="AppUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rut</ion-label>
    <ion-input type="text" [(ngModel)]="RunUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="PassUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirma Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="ConfirmUser"></ion-input>
  </ion-item>
  <ion-button class="FormUser-button" (click)="ValidarFormUser()"  expand="block">Registrar Usuario</ion-button>
  <ion-button class="back-button" (click)="GetBack()" expand="block">Volver</ion-button>
</ion-content>
