<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="User-Register" size="large">Registro de usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <div class="labels">
    <ion-item>
      <ion-label position="floating">Primer Nombre:</ion-label>
      <ion-input type="text" [(ngModel)]="NameUser"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Segundo Nombre:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Primer Apellido:</ion-label>
      <ion-input type="text" [(ngModel)]="AppUser"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo Apellido:</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut:</ion-label>
      <ion-input type="text" [(ngModel)]="RunUser"></ion-input>
    </ion-item>

    <!-- Hacer validacion y cambiar ngModel -->
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" [(ngModel)]="EmailUser"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="PassUser"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirma Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="ConfirmUser"></ion-input>
    </ion-item>

      <!-- Hacer validacion y cambiar ngModel -->
      <ion-item>
        <ion-label position="floating">Celular:</ion-label>
        <ion-input type="text" [(ngModel)]="CelUser"></ion-input>
      </ion-item>
  </div>    
    <br><br>

    <ion-text class="TextoDocumentacion"> Si posses un vehículo envíanos los documentos del vehículo al correo  <ion-text color="danger">drivelink.doc&#64;gmail.com</ion-text> para poder validar tu cuenta, esto demorará aproximadamente entre 5 a 7 días hábiles</ion-text>
    <br>
    <div class="documents-link">
      <p>Obtén todos tus documentos <a href="https://www.registrocivil.cl/principal/servicios-en-linea/" target="_blank">aquí</a>.</p>
    </div>
    <br><br>
  
  <ion-button class="FormUser-button" (click)="registerUser()"  expand="block">Registrarme</ion-button>
  <br>
  <ion-button class="back-button" (click)="GetBack()" expand="block">Volver</ion-button>
  <br><br>
</ion-content>
