<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="User-Register" size="large">Registro de usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="NameUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido:</ion-label>
    <ion-input type="text" [(ngModel)]="AppUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rut:</ion-label>
    <ion-input type="text" [(ngModel)]="RunUser"></ion-input>
  </ion-item>

  <!-- Hacer validacion y cambiar ngModel -->
  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input type="text" [(ngModel)]="RunUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="PassUser"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirma Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="ConfirmUser"></ion-input>
  </ion-item>

    <!-- Hacer validacion y cambiar ngModel -->
    <ion-item>
      <ion-label position="floating">Celular:</ion-label>
      <ion-input type="text" [(ngModel)]="RunUser"></ion-input>
    </ion-item>
    <br><br>

    <!-- Validar -->
    <div class="vehicle-user">
      <ion-radio-group value="strawberries">
        <p>¿Posees un vehículo?</p>
        <ion-radio value="vehicle-yes">SI</ion-radio><br />
        <ion-radio value="vehicle-no">NO</ion-radio><br />
      </ion-radio-group>
    </div>
    <br>
  
  <ion-button class="FormUser-button" (click)="ValidarFormUser()"  expand="block">Registrarme</ion-button>
  <br>
  <ion-button class="back-button" (click)="GetBack()" expand="block">Volver</ion-button>
  <br>
</ion-content>
